.grid:before, .grid:after, .row:after {
  content: " ";
  display: table;
  width: 100%; }
.grid:after, .row:after {
  clear: both; }

.grid {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px; }
  @media (max-width: 700px) {
    .grid {
      max-width: 100%;
      padding: 0 20px; } }
  .grid--large {
    width: 1320px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

[class*="cell-"] {
  min-height: 1px;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.cell-1 {
  width: 8.33333%; }
  @media (max-width: 700px) {
    .cell-1 {
      width: 100%; } }

.cell-2 {
  width: 16.66667%; }
  @media (max-width: 700px) {
    .cell-2 {
      width: 100%; } }

.cell-3 {
  width: 25%; }
  @media (max-width: 700px) {
    .cell-3 {
      width: 100%; } }

.cell-4 {
  width: 33.33333%; }
  @media (max-width: 700px) {
    .cell-4 {
      width: 100%; } }

.cell-5 {
  width: 41.66667%; }
  @media (max-width: 700px) {
    .cell-5 {
      width: 100%; } }

.cell-6 {
  width: 50%; }
  @media (max-width: 700px) {
    .cell-6 {
      width: 100%; } }

.cell-7 {
  width: 58.33333%; }
  @media (max-width: 700px) {
    .cell-7 {
      width: 100%; } }

.cell-8 {
  width: 66.66667%; }
  @media (max-width: 700px) {
    .cell-8 {
      width: 100%; } }

.cell-9 {
  width: 75%; }
  @media (max-width: 700px) {
    .cell-9 {
      width: 100%; } }

.cell-10 {
  width: 83.33333%; }
  @media (max-width: 700px) {
    .cell-10 {
      width: 100%; } }

.cell-11 {
  width: 91.66667%; }
  @media (max-width: 700px) {
    .cell-11 {
      width: 100%; } }

.cell-12 {
  width: 100%; }
  @media (max-width: 700px) {
    .cell-12 {
      width: 100%; } }

.prepend-1 {
  margin-left: 8.33333%; }
  @media (max-width: 700px) {
    .prepend-1 {
      margin-left: 0; } }

.prepend-2 {
  margin-left: 16.66667%; }
  @media (max-width: 700px) {
    .prepend-2 {
      margin-left: 0; } }

.prepend-3 {
  margin-left: 25%; }
  @media (max-width: 700px) {
    .prepend-3 {
      margin-left: 0; } }

.prepend-4 {
  margin-left: 33.33333%; }
  @media (max-width: 700px) {
    .prepend-4 {
      margin-left: 0; } }

.prepend-5 {
  margin-left: 41.66667%; }
  @media (max-width: 700px) {
    .prepend-5 {
      margin-left: 0; } }

.prepend-6 {
  margin-left: 50%; }
  @media (max-width: 700px) {
    .prepend-6 {
      margin-left: 0; } }

.prepend-7 {
  margin-left: 58.33333%; }
  @media (max-width: 700px) {
    .prepend-7 {
      margin-left: 0; } }

.prepend-8 {
  margin-left: 66.66667%; }
  @media (max-width: 700px) {
    .prepend-8 {
      margin-left: 0; } }

.prepend-9 {
  margin-left: 75%; }
  @media (max-width: 700px) {
    .prepend-9 {
      margin-left: 0; } }

.prepend-10 {
  margin-left: 83.33333%; }
  @media (max-width: 700px) {
    .prepend-10 {
      margin-left: 0; } }

.prepend-11 {
  margin-left: 91.66667%; }
  @media (max-width: 700px) {
    .prepend-11 {
      margin-left: 0; } }

.prepend-12 {
  margin-left: 100%; }
  @media (max-width: 700px) {
    .prepend-12 {
      margin-left: 0; } }

.append-1 {
  margin-right: 8.33333%; }

.append-2 {
  margin-right: 16.66667%; }

.append-3 {
  margin-right: 25%; }

.append-4 {
  margin-right: 33.33333%; }

.append-5 {
  margin-right: 41.66667%; }

.append-6 {
  margin-right: 50%; }

.append-7 {
  margin-right: 58.33333%; }

.append-8 {
  margin-right: 66.66667%; }

.append-9 {
  margin-right: 75%; }

.append-10 {
  margin-right: 83.33333%; }

.append-11 {
  margin-right: 91.66667%; }

.append-12 {
  margin-right: 100%; }

.dev-grid {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9;
  pointer-events: none; }
  .dev-grid.is-visible {
    display: block; }
  .dev-grid .grid,
  .dev-grid .row {
    height: 100%; }
  .dev-grid [class*="cell-"] {
    height: 100%; }
  .dev-grid .cell-content {
    display: block;
    width: 100%;
    background-color: rgba(142, 239, 186, 0.2); }

@font-face {
  font-family: Engravers;
  src: url(../fonts/ENGR.ttf); }
@font-face {
  font-family: Monsterra-r;
  src: url(../fonts/Montserrat-Regular.otf); }
body,
html,
div {
  margin: 0;
  padding: 0;
  background-color: #000; }

a {
  text-decoration: none;
  color: #000; }

.project_img img {
  height: 550px; }

.project_desc {
  margin-left: 43.7%;
  background-color: #fff;
  width: 300px;
  height: 300px;
  margin-top: -215px;
  padding: 40px 40px;
  display: block;
  position: absolute;
  bottom: -80px;
  font-family: Monsterra-r; }
  .project_desc h2 {
    text-align: center;
    font-size: 2.25em; }

.conteneur_project {
  padding: 83px 0 100px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 560px;
  margin: auto; }

.project_desc_title {
  font-family: Engravers;
  color: #888; }

ul.icons_technos {
  text-decoration: none; }
  ul.icons_technos li {
    display: block; }
    ul.icons_technos li img {
      height: 50px;
      width: 50px; }

/*# sourceMappingURL=style.css.map */
