<div class="ui-overlay ui-overlay--white">
    <a href="/intro" class="button button-main-logo ir"><img src="/static/img/logo-white.png" width="113" height="20"/></a>
	    <h3 class="page-side-title">Work</h3>
	<a class="button button-main-menu">
        <canvas class="button-main-menu-icon" width="50" height="50" data-color="white"></canvas>
    </a>
</div>

<h1 class="h1 page-title page-work-title">Selected&nbsp;cases</h1>

<div class="grid grid-projects">      
    <div class="project project--even column span-8-10 gutter-l-1-10 gutter-r-1-10 span-s-10-10">
        <div class="project-content">
            <a href="/work/layover-with-a-local">
                <figure class="project-image" style="background-image:url(/content/images/layover-with-a-local/cover-bg-new2.png);"></figure>
            </a>

            <a href="/work/layover-with-a-local" class="project-link" data-index="0">
                <span class="project-link-title">Layover with a Local</span>
                <h2 class="project-link-description">Turn your transfer into a trip</h2>

                <span class="project-link-client-title">Client</span>
                <span class="project-link-client">KLM Royal Dutch Airlines</span>

                <canvas class="sprite-animation-arrow project-link-arrow" data-color="black"></canvas>
            </a>
        </div>
    </div>
</div>
<div class="case-index">
    <ul class="case-index-list">
    	<li class="list-item list-item-section-indicator">
            <a class="button section-indicator-button" data-index="0">
                <span class="dot section-indicator-dot section-indicator-dot-normal"></span>
                <span class="dot section-indicator-dot section-indicator-dot-pulse"></span>
                <span class="label section-indicator-label">Web</span>
            </a>
        </li>
        <li class="list-item list-item-section-indicator">
            <a class="button section-indicator-button" data-index="1">
                <span class="dot section-indicator-dot section-indicator-dot-normal"></span>
                <span class="dot section-indicator-dot section-indicator-dot-pulse"></span>
                <span class="label section-indicator-label">Application</span>
            </a>
        </li>
        <li class="list-item list-item-section-indicator">
            <a class="button section-indicator-button" data-index="2">
                <span class="dot section-indicator-dot section-indicator-dot-normal"></span>
                <span class="dot section-indicator-dot section-indicator-dot-pulse"></span>
                <span class="label section-indicator-label">Art</span>
            </a>
        </li>
    </ul>
</div>