
.menu {
    position: fixed;
    top: 5%;
    left: 95%;
    transform: translate(-50%, -50%);
    z-index: 6;
    background: none;
}

.menu__btn {
    display: block;
    height: 40px;
    width: 40px;
    /* position: absolute; */
    border: 3px solid white;
    border-radius: 0;

    transition: border-radius 300ms ease;
    &:hover {
        border-radius: 50%;
    }

    &.is-open {
        .menu__burger {
            opacity: 0;
            transform: translateX(45px);

        }

        .menu__exit {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

.menu__burger,
.menu__burger:before,
.menu__burger:after {
    display: block;
    content: '';
    width: 18px;
    height: 3px;
    background-color: white;
    position: absolute;
}

.menu__burger {
    left: 14px;
    top: 21px;
    transform: translateX(0);
    opacity: 1;

    transition: opacity 300ms ease, transform 300ms ease;

    &:before {
        top: -8px;
    }

    &:after {
        top: 8px;
    }
}

.menu__exit:before,
.menu__exit:after {
    display: block;
    content: '';
    width: 22px;
    height: 3px;
    background-color: white;
    position: absolute;
}

.menu__exit {
    position: absolute;
    top: 22px;
    left: 12px;
    transform: translateX(-45px);
    opacity: 0;

    transition: opacity 300ms ease, transform 300ms ease;

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}

.menu-content{
    position: fixed;
    opacity: 0;
    right: 0;
    padding-top: 5em;
    padding-right : 2em;
    background-color : rgba(255, 255, 255, 0.2);
    border-left : 3px solid white;
    height: 100%;

    transition: opacity 5s ease;
    &.is-open{
        opacity: 1;
    }
    li{
        margin: .5em;
    }
}

.menu-transition{
    @extend .menu__btn;   
    z-index: 0; 
    border-radius: 50%;
    background-color : rgba(255, 255, 255, 0.5);
    border: 0.2px;
    transform: scale(1);
    transition: scale 250ms ease;
    &.is-open{
        opacity: 1;
        transform: scale(40);
    }
}